body {
    max-width: 1000px;
    margin: 60px auto !important;
}

.checklist-govco.radiobutton-govco.disabled span {
    color: #BABABA !important;
}

.checkbox-check-disabled .chk-govco label,
.checkbox-check-disabled{
    color: #BABABA !important;
}

label {
    display: inline;
}

